*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  HEADER
*/

.header-top{
  height: 70px;
}

.header-top img{
  width: 150px;
  height: 150px;
}

.header-bottom{
  height: 70px;
  background-color: #4AD295;
}

.header-bottom span{
  display: inline-block;
  margin-right: 20px;
}

.header-bottom select{
  width: 65px;
  padding: 5px;

  border: none;
  border-radius: 5px;

  background-color: white;

  cursor: pointer;
}


/* 
  MAIN
*/

main{
  height: calc(100vh - 140px);
  background-color: #DDDDDD;
  padding: 50px 50px 0 50px ;
}


.custom-container{
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;

}

.card{
  width: 200px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 100px;
  margin-bottom: 70px;

  border-radius: 10px;
  box-shadow: 0px 5px 3px 0px #2a2a2a;

  cursor: pointer;
}
